# **Assignment 02**

**Q.1 :** What are the two values of the Boolean data type? How do you write them?

**Ans 1 :** There are 2 values of Boolean Data Type:
1. True
2. False

We have to use capital T and F and with the rest of the word in lowercase.

**Q.2 :** What are the three different types of Boolean operators?

**Ans 2 :** The different types of Boolean operators are:

1. or 
2. and
3. not

**Q.3 :** Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate)?

**Ans 3 :** The Truth tables for the boolean tables are as follows:



1.  **Truth Table for 'and' operator:**

True and True is True

True and False is False

False and True is False

False and False is False

2. **Truth Table for 'or' operator:**

True or True is True

True or False is True

False or True is True

False or False is False

3. **Truth Table for 'not' operator:**

True not is False

False not is True

**Q.4 :** What are the values of the following expressions ?

*   (5 > 4) and (3 == 5)
*   not (5 > 4)
*   (5 > 4) or (3 == 5)
*   not ((5 > 4) or (3 == 5))
*   (True and True) and (True == False)
*   (not False) or (not True)

**Ans 4 :** Value are as follows:

In [1]:
(5 > 4) and (3 == 5)

False

In [2]:
not (5 > 4)

False

In [3]:
(5 > 4) or (3 == 5)

True

In [4]:
not ((5 > 4) or (3 == 5))

False

In [5]:
(True and True) and (True == False)

False

In [6]:
(not False) or (not True)

True

**Q.5 :** What are the six comparison operators?

**Ans 5 :** The Six comparision operators available in python are:

== , != , < , > , <= , =>

**Q.6 :** How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

**Ans 6 :** 

*  ' = ' : single equals to sign is used for the assignment operation
*   ' == ' : double equals to sign is used for the equal to condition check.

In [7]:
a = 100
if a == 200:
    print("True")
else:
    print("False")

False

In this code we used a variable a to assign the value 100 and using if condition to compare the value of a to 200 and check whether the result is True or False.

**Q.7 :** Identify the three blocks in this code:

spam = 0

if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')

**Ans 7 :**

In [9]:
spam = 0

if spam == 10:  ## Block 1
    print('eggs')
    
if spam > 5:    ## Block 2
    print('bacon')
    
else:           ## Block 3
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

**Q.8 :**  Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

**Ans 8 :**

In [10]:
spam = int(input())
if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else :
    print("Greetings!")

2
Howdy

**Q.9 :** If your programme is stuck in an endless loop, what keys you’ll press?

**Ans 9 :** Press Ctrl + C to stop a program stuck in an infinite loop.

**Q. 10 :** How can you tell the difference between break and continue?

**Ans 10 :** 

*   break : It is used to break the loop and exit from the loop.
*   continue : It is used to skip the current iteration of the loop and continue with the next iteration.

**Q. 11 :** In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

**Ans 11 :** They all do the same thing as follows:

In [11]:
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [12]:
for i in range(0,10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [13]:
for i in range(0, 10, 1):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

**Q. 12 :** Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

**Ans 12 :**

In [16]:
# Using for loop

for i in range(1, 11):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [17]:
# Using while loop

i = 1
while i < 11:
    print(i, end = ' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

**Q. 13 :** If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

**Ans 13 :** This function can be called with spam.bacon()