# **Assignment 4**

**Q. 1 :** What exactly is []?

**Ans 1 :** [] is the empty list.



---

**Q. 2 :** In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

**Ans 2 :**

In [ ]:
spam = [2,4,6,8,10]

print(spam)

spam[2] = 'hello'

print(spam)

[2, 4, 6, 8, 10]
[2, 4, 'hello', 8, 10]



---

### **Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.**

In [ ]:
spam = ['a', 'b', 'c', 'd']



---

**Q. 3 :** What is the value of spam[int(int('3' * 2) / 11)]?

**Ans 3 :** '3' * 2 is the string '33', which is passed to int() before being divided by 11. This eventually evaluates to 3. Expressions can be used wherever values are used. As below :

In [ ]:
spam[int(int('3'*2)/11)]

'd'



---

**Q. 4 :** What is the value of spam[-1]?

**Ans 4 :** 'd' (Lists support Negative indexing, Hence spam[-1] returs 'd')

In [ ]:
spam[-1]

'd'



---

**Q. 5 :** What is the value of spam[:2]?

**Ans 5 :**

In [ ]:
spam [:2]

['a', 'b']



---

### **Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.**

In [ ]:
bacon = [3.14, 'cat', 11, 'cat', True]



---

**Q. 6 :** What is the value of bacon.index('cat')?

**Ans 6 :** The value of bacon.index('cat') is 1 (Note: index method returns the index of first occuerence of 'cat')

In [ ]:
bacon.index('cat')

1



---

**Q. 7 :** How does bacon.append(99) change the look of the list value in bacon?

**Ans 7 :** It will append 99 at the end of list bacon. As below :

In [ ]:
bacon

[3.14, 'cat', 11, 'cat', True]

In [ ]:
bacon.append(99)
print (bacon)

[3.14, 'cat', 11, 'cat', True, 99]



---

**Q. 8 :** How does bacon.remove('cat') change the look of the list in bacon?

**Ans 8 :** It will remove the first occurence of the 'cat'. As below :

In [21]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [22]:
bacon.remove('cat')
print (bacon)

[3.14, 11, 'cat', True, 99]



---

**Q. 9 :** What are the list concatenation and list replication operators?

**Ans 9 :** List concatenation operator is ‘+’ while list replication operator is ‘*’.



---

**Q. 10 :** What is difference between the list methods append() and insert()? 

**Ans 10 :** 

*  Append method appends the given object to the end of the list always.

*  Insert method accepts two arguments, index at which the element needs to be inserted and the object to insert.

In [23]:
# For Example:
list = [1,2,3,4,5]

list.append(6)
print(list)

list.insert(2,'Tanay')
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 'Tanay', 3, 4, 5, 6]



---

**Q. 11 :** What are the two methods for removing items from a list?

**Ans 11 :** Two methods used for removing items from a list are:

*   List.remove(object) -> Removes the first occurrence of the given object from the list
*   List.pop(index = -1) -> Removes and returns item at the index (default is -1, the last element)



---

**Q. 12 :** Describe how list values and string values are identical.

**Ans 12 :** Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.



---

**Q. 13 :** What's the difference between tuples and lists?

**Ans 13 :** Lists are Mutable, Indexable and Slicable. they can have values added, removed, or changed. Tuples are Immutable but Indexable and Slicable. the tuple values cannot be changed at all. Also, tuples are represented using parentheses (), while lists use the square brackets [].



---

**Q. 14 :** How do you type a tuple value that only contains the integer 42?

**Ans 14 :** Note : The trailing comma is mandatory.

In [24]:
t = (42,)

In [25]:
type (t)

tuple



---

**Q. 15 :** How do you get a list value's tuple form? How do you get a tuple value's list form?

**Ans 15 :** The tuple() and list() functions, respectively are used to convert a list to tuple and vice versa.



---

**Q. 16 :** Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain? 

**Ans 16 :** Variables will contain references to list values rather than list values themselves.



---

**Q. 17 :** How do you distinguish between copy.copy() and copy.deepcopy()?

**Ans 17 :** The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.



---