## **Assignment 1**

**Q.1 :** In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
* , 'hello' , -87.8 , - , / , + , 6


**Ans 1 :** There are 4 Operators and 3 Expressions in following elements, They are:

**Expressions**: 'hello' , 87.8 , 6

**Operators**: * , - , / , +

**Q.2 :** What is the difference between string and variable?


**Ans 2 :** A Variable is used to store of information, and a String is a type of a Variable. A String is a group of characters or a single character usually enclosed in Double quotes " " or single quotes ' '.

**Q. 3 :** Describe three different Data Types.


**Ans 3 :** There are different types of data types in Python. Three of them built-in Python data types are:

1. **int data type:** We can use int data type to represent whole numbers (integral values).
2. **float data type:** We can use float data type to represent floating point values (decimal values).
3. **complex data type:** Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j.

In [19]:
# Example for int data type
a = 123
print(a, type(a))
# Example for float data type
b = 2.5
print(b, type(b))
# Example for Complex data type
c = 2 + 3j
print(c, type(c))

123 <class 'int'>
2.5 <class 'float'>
(2+3j) <class 'complex'>

**Q. 4 :** What is an expression made up of? What do all expressions do?

**Ans 4:** An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

In [7]:
# Example of Constant Expressions
x = 10+20*6/2
  
print(x)

70.0

**Q. 5 :** This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans 5 :** The main difference in statement and expression is, if you can print it, or assign it to a variable, it’s an expression. If you can’t, it’s a statement.

For example : " spam = 10 * a " is a assignment statement whereas the " 10 * a " is an expression.

**Q.6** : After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

**Ans 6** : bacon will contain 22 because the bacon variable contains 22 and the bacon + 1 expression does not reassign the value in bacon.

In [8]:
# For Example :

bacon = 22
bacon + 1

23

In [9]:
bacon

22

**Q.7 :** What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

**Ans 7 :** 

*   'spam' + 'spamspam' = 'spamspamspam'
*   'spam' * 3 = 'spamspamspam'

In [10]:
# For Example :
'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam' * 3

'spamspamspam'

Both will give same outcome.

**Q.8 :** Why is eggs a valid variable name while 100 is invalid?

**Ans 8 :** Because the variable declartion in python is that the variable name must start with a alphabate or underscore '_'.

**Q.9 :** What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans 9 :** The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [16]:
# For Example :

int(12.43)

12

In [13]:
int("1234")

1234

In [14]:
float(123)

123.0

In [15]:
str(123)

'123'

**Q.10:** Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

**Ans 10:** The cause of error is 99 because 99 is not a string. 99 must be typecasted to a string to fix this error.

In [17]:
#Error :

'I have eaten ' + 99 + ' burritos.'

TypeError: ignored

In [18]:
#Fix :

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'