# **Programming Assignment 2**

**Q. 1:** Write a Python program to convert Kilometers to Miles?

**Ans 1:**

In [1]:
# Converting kilometers to miles:

kilometers = float(input("Enter value in kilometers: "))
conversion_factor = 0.621
miles = kilometers*conversion_factor
print("%0.2f kilometers is equal to %0.2f miles" %(kilometers, miles))

Enter value in kilometers: 15
15.00 kilometers is equal to 9.31 miles



---

**Q. 2:** Write a Python program to convert Celsius to Fahrenheit?

**Ans 2:**

In [3]:
#convert Celsius to Fahrenheit

celsius = float(input("Enter temperature in celcius: ")) 
fahr = (celsius*9/5)+32 
print("Temperature in Fahrenheit is: ", fahr)

Enter temperature in celcius: 40
Temperature in Fahrenheit is:  104.0



---

**Q. 3:** Write a Python program to display calender?

**Ans 3:**

In [4]:
import calendar

def showCalender():
    year = int(input("Enter calender year: "))
    print(calendar.calendar(year))
    
showCalender()

Enter calender year: 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31



---

**Q. 4:** Write a Python program to solve quadartic equation?

**Ans 4:**

In [5]:
import cmath
import math

def quadarticEquationRoots(a,b,c):
    
    discriminant = b*b-4*a*c
    
    if discriminant == 0:
        r1 = -b/2*a
        r2 = -b/2*a
        print("Roots are Real",r1,r2)
    elif discriminant > 0:
        r1 = (-b-math.sqrt(discriminant))/(2 * a)
        r2 = (-b+math.sqrt(discriminant))/(2 * a)
        print("Roots are Real and different",r1,r2)
    else:
        r1 = (-b-cmath.sqrt(discriminant))/(2 * a)
        r2 = (-b+cmath.sqrt(discriminant))/(2 * a)
        print("Roots are Imaginary",r1,r2)


a = int(input('Enter a value: '))
b = int(input('Enter b value: '))
c = int(input('Enter c value: '))

quadarticEquationRoots(a,b,c)

Enter a value: 1
Enter b value: -9
Enter c value: 14
Roots are Real and different 2.0 7.0



---

**Q. 5:** Write a Python program to swap two variables without temp variable?

**Ans 5:**

In [9]:
a = int(input("Enter First Number: "))
b = int(input("Enter Second Number: "))

print('\nBefore swapping')
print("Value of a: ", a, "\nValue of b:", b)

a, b = b, a

print('\nAfter swapping')
print("Value of a: ", a, "\nValue of b:", b)

Enter First Number: 50
Enter Second Number: 20

Before swapping
Value of a:  50
Value of b: 20

After swapping
Value of a:  20
Value of b: 50



---