# **Programming Assignment 5**

**Q. 1:** Write a Python Program to Find LCM?

**Ans 1:**

In [2]:
def calculate_lcm(x, y):  
    if x > y:  
        greater = x  
    else:  
        greater = y  
    while(True):  
        if((greater % x == 0) and (greater % y == 0)):  
            lcm = greater  
            break  
        greater += 1  
    return lcm    
  
num1 = int(input("Enter first number: "))  
num2 = int(input("Enter second number: "))  
print("The L.C.M. of", num1,"and", num2,"is", calculate_lcm(num1, num2))

Enter first number: 6
Enter second number: 8
The L.C.M. of 6 and 8 is 24



---

**Q. 2:** Write a Python Program to find HCF?

**Ans 2:**

In [3]:
def compute_hcf(x, y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = int(input("Enter first number: "))  
num2 = int(input("Enter second number: ")) 

print("The H.C.F. is", compute_hcf(num1, num2))

Enter first number: 36
Enter second number: 56
The H.C.F. is 4



---

**Q. 3:** Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal?

**Ans 3:**

In [4]:
def DecimalToOther():
    num = int(input('Enter a Number: '))
    print(f'Binary Number -> {bin(num)}')
    print(f'Octal Number -> {oct(num)}')    
    print(f'Hexadecimal Number -> {hex(num)}')    

DecimalToOther()

Enter a Number: 9874
Binary Number -> 0b10011010010010
Octal Number -> 0o23222
Hexadecimal Number -> 0x2692



---

**Q. 4:** Write a Python Program to Find the ASCII value of a Character?

**Ans 4:**

In [5]:
try:
    char = input("Enter a character: ")
    ASCII = ord(char)
    print("ASCII value of {} is {}".format(char, ASCII))
except Exception as e:
    print(e)

Enter a character: T
ASCII value of T is 84



---

**Q. 5:** Write a Python Program to Make a Simple Calculator with 4 basic mathematical operations?

**Ans 5:**

In [6]:
import operator

ops = { "+": operator.add, "-": operator.sub, "*":operator.mul, "/":operator.truediv } 

print('Select a Arithmetic Operation: \
        \n1.Addition(+)\
        \n2.Division(-)\
        \n2.Multiplication(*)\
        \n4.Division(/)\
        \n3.Stop(0)\n')
   

while True:
    operator = input('Enter a arithmetic operation -> ')
    if operator == '0':
        print("Program Stopped successfully")
        break
    elif operator not in ['+','-','*','/']:
        print("Please enter a valid operator")
    else:
        num_1 = int(input('\nEnter 1st Number: '))
        num_2 = int(input('Enter 2nd Number: '))
        print(f'{num_1}{operator}{num_2}={ops[operator](num_1,num_2)}\n')

Select a Arithmetic Operation:
1.Addition(+)
2.Division(-)
2.Multiplication(*)
4.Division(/)
3.Stop(0)

Enter a arithmetic operation -> +

Enter 1st Number: 50
Enter 2nd Number: 10
50+10=60

Enter a arithmetic operation -> -

Enter 1st Number: 50
Enter 2nd Number: 10
50-10=40

Enter a arithmetic operation -> /

Enter 1st Number: 50
Enter 2nd Number: 10
50/10=5.0

Enter a arithmetic operation -> *

Enter 1st Number: 50
Enter 2nd Number: 10
50*10=500

Enter a arithmetic operation -> 0
Program Stopped successfully



---