# **Programming Assignment 10**

**Q. 1:** Write a Python program to find sum of elements in list?

**Ans 1:**

In [1]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

def sumlist(l):
    sum = 0
    for i in range(len(l)):
        sum = sum + l[i]
    return sum 
print(l)
print("Sum of List:", sumlist(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Sum of List: 120



---

**Q. 2:** Write a Python program to Multiply all numbers in the list?

**Ans 2:**

In [3]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

def mullist(l):
    mul = 1
    for i in l:
        mul *= i
    return mul
print(l)
print("Multiplication of List:", mullist(l))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
Multiplication of List: 1307674368000



---

**Q. 3:** Write a Python program to find smallest number in a list?

**Ans 3:**

In [4]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

def smallest(l):
    small = min(l)
    return small
print("Smallest number in the list:", smallest(l))

Smallest number in the list: 1



---

**Q. 4:** Write a Python program to find largest number in a list?

**Ans 4:**

In [5]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

def largest(l):
    large = max(l)
    return large
print("Largest number in the list:", largest(l))

Largest number in the list: 15



---

**Q. 5:** Write a Python program to find second largest number in a list?

**Ans 5:**

In [6]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

l.sort(reverse=True)
print("Second largest number in the list :", l[1])

Second largest number in the list : 14



---

**Q. 6:** Write a Python program to find N largest elements from a list?

**Ans 6:**

In [7]:
def findLarge(lst, n):
    
    lst.sort(reverse = True)
    return lst[n-1]

In [8]:
# 2nd Largest Element

l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
findLarge(l, 2)

14

In [9]:
# 4th Largest Element

l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
findLarge(l, 4)

12



---

**Q. 7:** Write a Python program to print even numbers in a list?

**Ans 7:**

In [10]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

def even(l):
    new_list=[]
    for i in l:
        if i%2 == 0:
            new_list.append(i)
    return new_list
print("Even Numbers in",l)
print(even(l))

Even Numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[2, 4, 6, 8, 10, 12, 14]



---

**Q. 8:** Write a Python program to print odd numbers in a List?

**Ans 8:**

In [11]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

def odd(l):
    new_list = []
    for i in l:
        if i%2 !=0:
            new_list.append(i)
    return new_list
print("Odd numbers in",l)
print(odd(l))

Odd numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 3, 5, 7, 9, 11, 13, 15]



---

**Q. 9:** Write a Python program to Remove empty List from List?

**Ans 9:**

In [16]:
l1 = [1,2,3,4,5,[],6,7,8,9,10,11,12,13,14,15]

def removeEmptyList(l1):
    if [] in l1:
        print(f'There is an Empty list in {l1} at Position {l1.index([])}')
        l1.remove([])
        print(f'The List after removing [] is {l1}')
    else:
        print(f'There is no [] List in the list {l1}')
        
removeEmptyList(l1)

There is an Empty list in [1, 2, 3, 4, 5, [], 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] at Position 5
The List after removing [] is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]



---

**Q. 10:**  Write a Python program to Cloning or Copying a list?

**Ans 10:**

In [17]:
import copy
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
def cloneList(l):
    print(l, id(l))
    cloned_list = l.copy()
    print(cloned_list, id(cloned_list))
    
cloneList(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] 140376268756304
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] 140376269168960



---

**Q. 11:** Write a Python Program to count occurences of an element in a list?

**Ans 11:**

In [20]:
def checkOccurence():
    l2 = [1, 2, 3, 4, 8, 5, 6, 7, 8, 8, 9, 10, 11, 12, 13, 8, 14, 15]
    in_num = eval(input('Enter the element to find: '))
    count = 0
    if in_num in l2:
        for ele in l2:
            if ele == in_num:
                count = count+1
    print(f'There are {count} occurences of {in_num} in {l2}')
    
checkOccurence()

Enter the element to find: 8
There are 4 occurences of 8 in [1, 2, 3, 4, 8, 5, 6, 7, 8, 8, 9, 10, 11, 12, 13, 8, 14, 15]



---