# **Programming Assignment 12**

**Q. 1:** Write a Python program to Extract Unique values dictionary values?

**Ans 1:**

In [1]:
in_dict = {1:'Mumbai',2:'Delhi',3:'Banglore',4:'KOlkata',5:'Delhi',6:'Chennai',7:'Mumbai'}
print(in_dict.values())
print(f'Unique Values: {list(set(in_dict.values()))}')

dict_values(['Mumbai', 'Delhi', 'Banglore', 'KOlkata', 'Delhi', 'Chennai', 'Mumbai'])
Unique Values: ['Mumbai', 'Banglore', 'KOlkata', 'Chennai', 'Delhi']



---

**Q. 2:** Write a Python program to find the sum of all items in a dictionary?

**Ans 2:**

In [3]:
d = {'A' : 26, 'B' : 78, 'C' : 13, 'D' : 90}
print('Sum of all items:',sum(d.values()))

Sum of all items: 207



---

**Q. 3:** Write a Python program to Merging two Dictionaries?

**Ans 3:**

In [8]:
dict_1 = { 'k1' : 'Tanay', 'k2' : 'Choubey'}
dict_2 = {'k3' : 'Data', 'k4' : 'Science', 'k5' : 'Learner'}

for item in dict_2.items():
    dict_1.setdefault(item[0], item[1])
print(dict_1)

{'k1': 'Tanay', 'k2': 'Choubey', 'k3': 'Data', 'k4': 'Science', 'k5': 'Learner'}



---

**Q. 4:** Write a Python program to convert key-values list to flat dictionary?

**Ans 4:**

In [10]:
l = [('A',10),('B',20),('C',30),('D',40),('E',50),('F',60),('G',70),('H',80),('I',90),('J',100)]

dict(l)

{'A': 10,
 'B': 20,
 'C': 30,
 'D': 40,
 'E': 50,
 'F': 60,
 'G': 70,
 'H': 80,
 'I': 90,
 'J': 100}



---

**Q. 5:** Write a Python program to insertion at the beginning in OrderedDict?

**Ans 5:**

In [11]:
from collections import OrderedDict
dict_one = OrderedDict({'Apple':'Iphone','Microsoft':'Windows','Google':'chrome'})
print('dict_one',dict_one)
dict_two = {'Tesla':'SpaceX'}
dict_one.update(dict_two)
print('dict_one',dict_one)
dict_one.move_to_end('Tesla',last=False)
print('dict_one',dict_one)

dict_one OrderedDict([('Apple', 'Iphone'), ('Microsoft', 'Windows'), ('Google', 'chrome')])
dict_one OrderedDict([('Apple', 'Iphone'), ('Microsoft', 'Windows'), ('Google', 'chrome'), ('Tesla', 'SpaceX')])
dict_one OrderedDict([('Tesla', 'SpaceX'), ('Apple', 'Iphone'), ('Microsoft', 'Windows'), ('Google', 'chrome')])



---

**Q. 6:** Write a Python program to check order of character in string using OrderedDict()?

**Ans 6:**

In [12]:
from collections import OrderedDict

initial_list = {'a': 1000, 'f': 200, 'd': 300, 'c': 400, 'b': 500, 'e': 600}
print(initial_list)

final_list = OrderedDict(dict(sorted(initial_list.items())))
print(final_list)

{'a': 1000, 'f': 200, 'd': 300, 'c': 400, 'b': 500, 'e': 600}
OrderedDict([('a', 1000), ('b', 500), ('c', 400), ('d', 300), ('e', 600), ('f', 200)])



---

**Q. 7:** Write a Python program to sort Python Dictionaries by Key or Value?

**Ans 7:**

In [14]:
d_items = {'Mango':100,'PineApple':22,'Banana':60,'Grape':13}

def sort_dict(in_dict,sort_type):
    if sort_type == 'key':
        print(dict(sorted(in_dict.items(), key=lambda x:x[0], reverse=False)))
    else:
        print(dict(sorted(in_dict.items(), key=lambda x:x[1], reverse=False)))
        
sort_dict(d_items,'key')        
sort_dict(d_items,'value')

{'Banana': 60, 'Grape': 13, 'Mango': 100, 'PineApple': 22}
{'Grape': 13, 'PineApple': 22, 'Banana': 60, 'Mango': 100}



---